<p>{{footer1}}</p>
<p>{{footer2}}</p>

<hr style='border: none; border-top: 1px solid #e2e8f0; margin: 20px 0;' />

<p style='font-size: 12px; color: #64748b; text-align: center;'>
  {{legalText}}<br />
  {{unsubscribeText}}
</p>